Source: raspi2jpeg
Section: utils
Priority: optional
Maintainer: Anderson Calixto <andersonbr@gmail.com>
Build-Depends: debhelper (>= 9), libjpeg-turbo-dev, libraspberrypi-dev
Standards-Version: 3.9.5
Homepage: https://github.com/andersonbr/raspi2jpeg/

Package: raspi2jpeg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Utility to take a snapshot of the Raspberry Pi screen and save it as a JPEG file.
